body {
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.edit-button{
  color: rgb(66, 66, 66);
  font-weight: 600;
}

.edit-button:hover{
  cursor: pointer;
  font-size: 15px;
}
